*{
    margin: 0;
    padding: 0;

}

#labels-container{
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 1em;
    gap: 1em;
    background-color: black;
    color: gray;
    flex: 1;
    
}

#header{
    display: flex;
    justify-content: center;
}

.menu-item{
    flex: 1;
    display: flex;
    padding: 1em;
    margin: 1em;
    gap: 1em;
    min-width: 400px;
 
}
.section{
    text-align: center;
    margin-top: 1em;
}
.section-items-container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    text-align: left;
}
.menu-item>img{
    height: 80px;
}
.price{
    align-self: flex-end;
    color: goldenrod;
}
