*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;

}
#labels-container{
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 1em;
    gap: 1em;
    background-color: black;
    color: gray;
    
}

.menu-item{
    width: 50px;
    height: 50px;
    border: solid 2px black;
}
#best-selling{
    display: flex;
}